@keyframes ProjectOverlayIn {
  0% {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes ProjectOverlayOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 5%, 0);
    opacity: 0;
  }
}

#ProjectOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: white;

  transform: translate3d(-5%, 0, 0);
  opacity: 0;

  &.open {
    display: block;
    animation: ProjectOverlayIn 0.3s forwards;
  }

  &.closing {
    display: block;
    animation: ProjectOverlayOut 0.3s forwards;
  }
}

.ProjectOverlay-Scroller {
  display: none;
  align-content: start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  .philippines &.philippines,
  .bhutan &.bhutan,
  .guatemala-la &.guatemala-la,
  .netherlands &.netherlands {
    display: flex;
  }
}

.ProjectOverlay-ContentWrapper {
  width: 80vw;
  max-width: 720px;
  padding: 48px 36px 0;
}

.ProjectOverlay-Image {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: -36px -36px 36px;
  height: 40vh;
  width: calc(100% + 72px);
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }
}

.ProjectOverlay-Content {
  padding-bottom: 48px;
}

#ProjectOverlay-Close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 100;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 0.5;
  cursor: pointer;
  outline: 0;

  &:hover {
    color: $color1;
  }
}

@media (max-width: 640px) {
  .ProjectOverlay-ContentWrapper {
    width: 100%;
    padding: 48px 18px 0;

    h1,
    h2 {
      text-align: left;
    }

    h1 {
      word-break: break-word;
    }
  }

  .ProjectOverlay-Content {
  }
}
