.PostCard {
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;
  background: $articleGradient;

  .image-wrapper {
    flex: 0 0 33%;
    background: lighten($color1, 10%);

    a {
      display: block;
    }

    img,
    .image-placeholder {
      opacity: 0.6;
      transition: opacity 0.2s;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }

    .image-placeholder {
      padding-top: 100%;
      background: url('images/placeholder.png');
      background-size: cover;
    }
  }

  .content {
    flex: 0 0 66%;
    padding: 24px 36px;
  }

  .continue-reading {
    display: block;
    margin-top: 1em;
    font-family: $fontSans;
    font-weight: bold;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:hover {
    .image-wrapper {
      img,
      .image-placeholder {
        opacity: 1;
      }
    }

    .content {
      h2 {
        color: $color1;
      }
    }
  }
}
