.PostCard {
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;
  background: $articleGradient;

  .continue-reading {
    display: block;
    margin-top: 1em;
    font-family: $fontSans;
    font-weight: bold;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:hover {
    .image-wrapper {
      img,
      .image-placeholder {
        opacity: 1;
      }
    }

    .PostCard-Content {
      h2 {
        color: $color1;
      }
    }
  }
}

.PostCard-Content {
  flex: 0 0 66%;
  padding: 36px;
}

.PostCard-ImageWrapper {
  flex: 0 0 33%;
  background: $black;

  a {
    display: block;
  }

  img,
  .image-placeholder {
    opacity: 0.6;
    transition: opacity 0.2s;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.PostCard-ImagePlaceholder {
  padding-top: 100%;
  background: url('images/placeholder.png');
  background-size: cover;
}

@media (max-width: 680px) {
  .PostCard {
    flex-wrap: wrap;
    justify-content: center;

    &:nth-child(even) {
      flex-direction: inherit;
    }
  }

  .PostCard-Content,
  .PostCard-ImageWrapper {
    flex: 0 0 100%;
  }

  .PostCard-ImageWrapper {
    a {
      text-align: center;
    }

    img {
      max-width: 50%;
    }
  }

  .PostCard-ImagePlaceholder {
    display: none;
  }
}

@media (max-width: 460px) {
  .PostCard-Content {
    padding: 18px;
  }

  .PostCard-ImageWrapper {
    img {
      max-width: 100%;
    }
  }
}
