@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Work+Sans:300,800');

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  padding-top: $headerHeight + 24px;
  background: url('images/background-pattern.png') repeat center -10vh, $bgGradient fixed 100% 100%, $bgColor2;
  font-family: $fontSerif;
  font-size: $fontSizeDefault;
  color: $black;
}

h1, h2, h3, h4, h5 {
  font-family: $fontSans;
  font-weight: 800;
}

a {
  color: $color1;
}

a:hover {
}
