// Dimensions
// -------------------------
$maxWidth: 1420px;
$headerHeight: 60px;

// Fonts
// -------------------------
$fontSans: "Work Sans", sans-serif;
$fontSerif: "PT Serif", serif !default;

$fontSizeDefault: 16px;
$fontSizeMedium: 30px;

$lineHeightDefault: 24px;
$lineHeightMedium: 48px;

// Colors
// -------------------------
$black: #3D3B4A;

$color1: #9d2cfc;
$color2: #FF7725;

$bgColor1: #E0DCF2;
$bgColor2: #E5D1C5;
$bgGradient: linear-gradient($bgColor1, $bgColor2);
