@keyframes fadeIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#preload-image { display: none; }

#home-splash {
  position: relative;
  width: calc(100vw - 72px);
  max-width: $maxWidth - 48px;
  padding: 24px 0 0;

  svg {
    display: block;
    width: 75%;
    height: auto;
    opacity: 0;
    margin: 40px auto;
  }

  &.loaded {
    svg {
      animation: fadeIn 1s forwards;
    }
  }
}

#page-home-main {
  margin-bottom: 120px;

  article {
    max-width: 720px;
    margin: 0 auto 48px;
    padding: 36px 48px;
    background: $articleGradient;

    h1, h2, h3, h4 {
      font-weight: normal;
      padding-bottom: 0.5em;
      margin-bottom: 0.75em;
      border-bottom: 1px solid $bgColor1;
    }
  }
}

#Top {
  position: absolute;
  top: 0;
}

#About {
  padding-top: $headerHeight;
  margin-bottom: -$headerHeight;
}

#Projects {
  padding-top: $headerHeight;
  // Calculated from ProjectMap.scss based on the bg img size
  height: calc(104vw / 1920 * 844);
  margin-bottom: 0;

  > h2 {
    text-align: center;
  }
}

#Researchers {
  padding-top: $headerHeight;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 12px));
  grid-column-gap: 24px;

  h2 {
    position: relative;
    z-index: 10;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media (max-width: 840px) {
  #Researchers {
    display: block;
  }
}

@media (max-width: 720px) {
  #Projects {
    padding-top: $headerHeight;
  }
}

@media (max-width: 520px) {
  #page-home-main {
    margin-bottom: 48px;
    
    article {
      margin-bottom: 18px;
    }
  }

  #home-splash {
    width: calc(100vw - 36px);
  }
}

@media (max-width: 480px) {
  #page-home-main article {
    padding: 36px 18px;
  }

  #Projects {
    height: auto;
  }
}
