@keyframes fadeIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#home-splash {
  position: relative;
  width: calc(100vw - 72px);
  max-width: $maxWidth - 48px;
  padding: 2vh 0;

  svg {
    animation: fadeIn 1s forwards;
    width: 100%;
    height: auto;
  }
}

#page-home-main {
  margin-bottom: 120px;

  article {
    max-width: 720px;
    margin: 0 auto 48px;
    padding: 36px 48px;
    background: $articleGradient;

    h1, h2, h3, h4 {
      font-weight: normal;
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid $bgColor1;
    }
  }
}

#Top {
  position: absolute;
  top: 0;
}

#About {
  padding-top: $headerHeight;
  margin-bottom: -$headerHeight;
}

#Projects {
  padding-top: $headerHeight * 2;
  // Calculated from ProjectMap.scss based on the bg img size
  height: calc(104vw / 1920 * 844);
  margin-bottom: 0;
}

#Researchers {
  padding-top: $headerHeight;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 12px));
  grid-column-gap: 24px;

  h2 {
    position: relative;
    z-index: 10;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

#preloadImage { display: none; }
