.ResearcherCard {
  width: 100%;
  background: $articleGradient;
  padding: 36px;
  margin-bottom: 24px;

  .thumbnail-wrapper {
    float: left;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
  }

  .content {
    padding-left: 24px;
    height: 320px;
    overflow: hidden;
  }
}

.ResearcherCardOpenProject {
  border: none;
  border-top: 1px solid white;
  background: transparent;
  width: calc(100% + 72px);
  padding: 18px;
  margin: 0 -36px;
  font-family: $fontSans;
  font-size: $fontSizeH4;
  cursor: pointer;

  &:hover {
    color: $color1;
  }
}
