@keyframes fadeInMobileMenu {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#SiteHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: $headerHeight;
  transition: all 0.3s;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 36px;
    width: 100vw;
    max-width: $maxWidth;
    list-style: none;
  }

  li {
    display: flex;
    align-items: end;
    height: $headerHeight;
    font-family: $fontSans;
    font-weight: 800;
    font-size: $fontSizeH3;
    line-height: $lineHeightH3;

    &.current-menu-item {
      a {
        color: $color1;
      }
    }
  }

  a {
    display: block;
    height: $headerHeight;
    padding: $headerHeight - $lineHeightH3 12px 0;
    color: $black;
    transition: all 0.3s;
    text-shadow: -1px 1px 0 $bgColor1;

    &:hover {
      color: $color1;
    }
  }

  #logo {
    background: $black;
    transition: all 0.3s;

    &:hover {
      background: $color1;
    }

    a {
      padding-right: 36px;
      font-weight: 300;
      color: $bgColor1;
      text-decoration: none;
      text-shadow: none;
    }
  }

  &.scrolled {
    background: white;

    &,
    li,
    a {
      height: $headerHeightScrolled;
    }

    a {
      padding: $headerHeightScrolled - $lineHeightH3 12px 0;
    }
  }

  #mobile-menu-toggle {
    display: none;
  }

  .admin-bar & {
    top: 32px;
  }
}

@media (max-width: 820px) {
  #SiteHeader {
    li {
      font-size: $fontSizeH4;
      line-height: $lineHeightH4;
    }
  }
}

@media (max-width: 600px) {
  #SiteHeader {
    #mobile-menu-toggle {
      display: block;
    }

    ul {
      padding: 0 16px;
    }

    li:not(:first-child):not(#mobile-menu-toggle) {
      display: none;
      position: absolute;
      top: $headerHeight;
      background: white;
      box-sizing: border-box;
      opacity: 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      height: $headerHeightScrolled;

      a {
        text-shadow: none;
        height: $headerHeightScrolled;
        padding-top: $headerHeightScrolled - $lineHeightH3;
        font-size: $fontSizeDefault;
      }

      &:nth-child(2) {
        left: 0;
        width: 30%;
        padding-left: 16px;
      }

      &:nth-child(3) {
        left: 30%;
        width: 35%;
      }

      &:nth-child(4) {
        left: 65%;
        width: 35%;
        padding-right: 16px;
      }
    }

    &.show-mobile-menu {
      #mobile-menu-toggle {
        color: $color2;

        a::before {
          content: '× '
        }
      }

      li:not(:first-child):not(#mobile-menu-toggle) {
        display: block;
        animation: fadeInMobileMenu 0.3s forwards;
      }
    }

    &.scrolled {
      li:not(:first-child):not(#mobile-menu-toggle) {
        top: $headerHeightScrolled;
      }
    }
  }
}
