@keyframes fadeInMobileMenu {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

#SiteHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: $headerHeight;
  transition: all 0.3s;

  #SiteHeader-MobileMenu-Toggle {
    display: none;
  }

  &.scrolled {
    height: $headerHeightScrolled;
    background: white;
  }

  .admin-bar & {
    top: 32px;
  }
}

#SiteHeader-MainMenu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 36px;
  width: 100vw;
  max-width: $maxWidth;
  list-style: none;

  li {
    display: flex;
    align-items: end;
    height: $headerHeight;
    font-family: $fontSans;
    font-weight: 800;
    font-size: $fontSizeH4;
    line-height: $fontSizeH4;
  }

  a,
  a:visited,
  a:active {
    display: block;
    height: $headerHeight;
    padding: $headerHeight - $fontSizeH3 12px 0;
    color: $black;
    transition: all 0.3s;
    text-shadow: -1px 1px 0 $bgColor1;

    &:hover {
      color: $color1;
    }
  }

  #logo {
    background: $black;
    transition: all 0.3s;

    &:hover {
      background: $color1;
    }

    a {
      padding-right: 36px;
      font-weight: 300;
      color: $bgColor1;
      text-decoration: none;
      text-shadow: none;
    }
  }

  .scrolled & {
    &,
    li,
    a {
      height: $headerHeightScrolled;
    }

    #logo {
      a {
        padding-top: 9px;
      }
    }

    li:not(#logo) {
      font-size: $fontSizeH4 - 2;
      line-height: $headerHeightScrolled - 1;

      a {
        padding: 1px 12px 0;
      }
    }
  }
}

#SiteHeader-MobileMenu {
  display: none;
}

@media (max-width: 800px) {
  #SiteHeader {
    #SiteHeader-MobileMenu-Toggle {
      display: block;
    }
  }

  #SiteHeader-MainMenu {
    padding: 0 16px;

    li:not(:first-child):not(#SiteHeader-MobileMenu-Toggle) {
      display: none;
    }

    .scrolled & {
      li:not(:first-child):not(#SiteHeader-MobileMenu-Toggle) {
        top: $headerHeightScrolled;
      }
    }
  }

  #SiteHeader-MobileMenu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    list-style: none;
    padding: 36px;
    margin: 0;

    .show-mobile-menu & {
      display: flex;
      animation: fadeInMobileMenu 0.3s forwards;
    }

    li {
      font-size: $fontSizeH2;
      font-weight: bold;
      line-height: $lineHeightH2 * 2;
    }
  }

  #SiteHeader-MobileMenu-Close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 100;

    button {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 60px;
      line-height: 0.5;
      cursor: pointer;
      outline: 0;
    }

    &:hover {
      color: $color1;
    }
  }
}
