#SiteHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: $headerHeight;

  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 36px;
    width: 100vw;
    max-width: $maxWidth;
    list-style: none;
  }

  li {
    display: flex;
    align-items: end;
    height: $headerHeight;
    font-family: $fontSans;
    font-weight: 800;
    font-size: $fontSizeH3;
    line-height: $lineHeightH3;

    &.current-menu-item {
      a {
        color: $color1;
      }
    }
  }

  a {
    display: block;
    height: $headerHeight;
    padding: $headerHeight - $lineHeightH3 12px 0;
    color: $black;
    transition: color 0.2s;
    text-shadow: -1px 1px 0 $bgColor1;

    &:hover {
      color: $color1;
    }
  }

  #logo {
    background: $black;
    transition: background 0.2s;

    &:hover {
      background: $color1;
    }

    a {
      padding-right: 36px;
      font-weight: 300;
      color: $bgColor1;
      text-decoration: none;
      text-shadow: none;
    }
  }

  .admin-bar & {
    top: 32px;
  }
}
