.Post {
  background: $articleBackground;
  padding: 40px;
}

.Post-Content {
  max-width: 780px;
  margin: 0 auto;
}

.Post-Breadcrumb {
  display: block;
  font-family: $fontSans;
  font-weight: bold;
  margin-bottom: 1.5em;
}